.add_element, .add_mass_email, .delete_mass_email, .edit_groups
{

	display:inline-block;
	border: solid 0px #000;
	width:197px;
	padding:1px 0px 1px 0px;
	background: url('../images/plus.png') no-repeat 180px 0px;

}

.add_mass_email
{
	
	width:210px;
	background-position: 195px 0px;
	
}

.edit_groups
{
	background-position: 90px 0px;
	width:105px;
	
}

#send_message, #edit_list, #delete_list, #edit_draft
{
	
	display:inline-block;
	border: solid 0px #000;
	width:25px;
	height:25px;
	padding:1px 0px 1px 0px;
	margin-left:2px;
	background: url('../images/mail_icon.png') no-repeat;
	
}

.delete_mass_email
{
	
	width:220px;
	background: url('../images/delete_icon_mini.png') no-repeat 205px 0px;
	
}

.csv_email
{
	border: solid #000 0px;
	padding-right:25px;
	background: url('../images/csv_icon.png') no-repeat 282px 0px;
	
}

.status_email
{
	border: solid #000 0px;
	padding-right:25px;
	background: url('../images/status_icon.png') no-repeat 252px -1px;
	
}

.stats_email
{
	border: solid #000 0px;
	padding-right:25px;
	background: url('../images/stats_icon.png') no-repeat 140px 0px;
	
}

#edit_list
{
	
	background: url('../images/edit_icon.png') no-repeat;
	
}

#edit_draft
{
	
	background: url('../images/draft_icon.png') no-repeat;
	
}

#delete_list
{
	
	background: url('../images/delete_icon.png') no-repeat;
	
}

#send_message span, #edit_list span, #delete_list span, #edit_draft span
{
	
	display:none;
	
}